**.env*
**.db
backend/uks/src/main/resources/application-dev.properties

gitolite/gitolite

gitolite/gitolite.pub

backend/uks/src/gitolite/gitolite

backend/uks/src/gitolite/gitolite.pub
backend/uks/src/gitolite/gitolite-admin/
backend/uks/src/gitolite/gitolite_admin_script.log
backend/uks/src/gitolite/gitolite_admin_read_branches_script.log
backend/uks/src/gitolite/gitolite_admin_read_commits_script.log
backend/uks/src/gitolite/gitolite_admin_read_branches_script.log
backend/uks/src/gitolite/gitolite_admin_get_git_diff_script.log
backend/uks/src/gitolite/logs/*
backend/.idea