<mat-drawer-container class="sidebar-container" hasBackdrop="true">
    <mat-drawer #drawer mode="over" class="drawer">
        <app-sidebar></app-sidebar>
    </mat-drawer>

    <mat-drawer-content>
        <app-navbar [drawer]="drawer"></app-navbar>

        <div class="flex flex-row pt-3 space-x-4 ">
            <div class="search-bar">
                <form>
                    <input class="p-2 rounded-md !text-[12px] text-black !focus-visible:outline-none" id="searchRepos"
                        placeholder="Search..." [formControl]="search" />
                    <button type="submit" (click)="onSearch()"
                        class="!bg-green-600 rounded-lg  w-fit px-4 py-1 text-white hover:!bg-green-800 text-sm">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>

            <div class="button-group">
                <button class="show-button !py-1" (click)="showView(View.CREATED)" [ngStyle]="{
                'background-color':openView === View.CREATED ? '#3a87e1' : 'white', 
                'color': openView === View.CREATED ? 'white' : 'black'}">
                    <i class="icon fa-regular fa-circle-dot"></i>
                    Created
                </button>
                <button class="show-button !py-1 " (click)="showView(View.ASSIGNED)" [ngStyle]="{
                'background-color': openView === View.ASSIGNED ? '#3a87e1' : 'white', 
                'color': openView === View.ASSIGNED ? 'white' : 'black'}">
                    <i class="fa-solid fa-tag"></i>
                    Assigned
                </button>
            </div>
        </div>



        <div class="flex flex-col pt-4 w-5/6 mx-auto issue-container">
            <div class="flex flex-row space-x-4 issues-header">
                <div class="flex flex-col  w-1/2">
                    <div class="issue-left-container">
                        <button class="header-button !py-1 " (click)="changeShownPRs(true)" [ngStyle]="{'background-color': shownOpen  ? '#d1d5da' : '#f6f8fa', 
            'color': shownOpen ? 'white' : 'black'}">
                            <i class="icon fa-regular fa-circle-dot"></i>
                            Open
                        </button>

                        <button class="header-button !py-1" (click)="changeShownPRs(false)"
                            [ngStyle]="{'background-color': !shownOpen ? '#d1d5da' : '#f6f8fa', 'color': !shownOpen ? 'white' : 'black'}">
                            <i class="fa-solid fa-check"></i>
                            Closed
                        </button>
                    </div>
                </div>

            </div>
            <div class="flex flex-row" *ngFor="let pr of shownPRs">
                <app-pr-item [pr]="pr" [showRepoName]="true"></app-pr-item>
            </div>
            <div *ngIf="shownPRs.length === 0" class="flex flex-row">
                No pull requests
            </div>
        </div>

    </mat-drawer-content>
</mat-drawer-container>