<mat-drawer-container class="sidebar-container" hasBackdrop="true">
    <mat-drawer #drawer mode="over" class="drawer">
        <app-sidebar></app-sidebar>
    </mat-drawer>

    <mat-drawer-content>
        <app-navbar [drawer]="drawer"></app-navbar>

        <div class="flex" style=" height: 100%;">
            <div class="w-1/3 p-4 flex flex-col h-full">
                <app-folder-tree-overview></app-folder-tree-overview>
            </div>

            <div class="!border-l !border-gray-300 !h-full"></div>

            <div class="w-2/3 p-4 flex flex-col h-full">

                <app-folder-table-overview></app-folder-table-overview>

                <!-- or preview of file content -->

            </div>
        </div>

    </mat-drawer-content>

</mat-drawer-container>