<div class="flex flex-row w-full h-full bg-gray-800 items-center justify-center text-white">
    <div class="flex flex-col bg-gray-800 px-2 py-2 h-4/5 w-4/5">
        <h2 class="!text-2lg text-bold pb-4">Create new repository</h2>
        <form (submit)="onSubmitClick()" [formGroup]="newRepoForm">
            <div class="flex flex-row">
                <div [class]="'flex flex-col w-1/3 h-[13vh] pr-2'">
                    <span class=" text-[16px]">Owner</span>
                    <input class="p-2 rounded-md text-[16px] my-2 text-black focus-visible:outline-none bg-gray-300"
                        id="owner" readonly=true type="text" formControlName="owner" />
                </div>
                <div [class]="'flex flex-col w-full h-[13vh] '">
                    <app-input label="Name*" id="name" [extenseClass]="'w-full'" [control]="newRepoForm.controls.name"
                        placeholder="Enter repo name" [required]="true"
                        [invalid]="newRepoForm.controls.name.invalid && newRepoForm.controls.name.dirty"
                        errorMessage="Invalid name" type="text"></app-input>
                </div>
            </div>
            <div class="'flex flex-row !w-full '">
                <app-input label="Description" id="description" [extenseClass]="'!w-full'"
                    [control]="newRepoForm.controls.description" placeholder="Enter repo description" [required]="false"
                    [invalid]="newRepoForm.controls.description.invalid && newRepoForm.controls.description.dirty"
                    errorMessage="Invalid description" type="text"></app-input>
            </div>
            <div>
                <p class="text-white">Is repository Public?</p>
                <mat-slide-toggle color="warn" formControlName="isPublic" />
            </div>

            <div class="button-container">
                <app-button [text]="'Cancel'" [extenseClass]="'bg-red-500 hover:bg-red-800 disabled:hover:bg-red-600 '"
                    (click)="onCancelClick()"></app-button>
                <app-button [text]="'Add new'" [disabled]="newRepoForm.invalid"
                    (buttonClick)="onSubmitClick()"></app-button>
            </div>
        </form>

    </div>
</div>