@import '../../../../styles.scss';


.navbar-container {
    color: $github-light-gray-color;
    border-bottom: 1px solid $github-border-color;
    height: 20px !important;
}

.menu-button {
    cursor: pointer;
    border: 1px solid $github-border-color;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    .icon {

        color: $grey-color;
    }
}

.span-spacer {
    flex: 1 1 auto;
}

.mat-tab-group {
    margin-bottom: 48px;
}

.logo {
    display: flex;

    .logoIcon {
        width: 50px;
        height: 30px;
    }
}

.name {
    font-size: 16px;
    font-family: $font;
    color: $black-color;
    margin: 30px 0px;
}

.owner {
    font-size: 16px;
    color: $grey-color;
    font-family: $font;
    margin: 30px 0px;
}