<div class="flex flex-row">
    <div class="flex flex-col w-1/6 p-5 first-col">
        <button class="show-button !py-1 " (click)="showProjectPRs()">
            <i class="fa-solid fa-circle-left"></i>
            Back
        </button>
    </div>
    <div class="flex flex-col w-3/6 p-5 h-full" *ngIf="!isEdit">
        <div class="header">
            <div class="flex flex-row">
                <span class="text-2xl text-bold pb-2 w-5/6">#{{pr?.counter}} - {{pr?.name}}</span>
                <button class="show-button !py-1" (click)="edit()">
                    <i class="fa-solid fa-pen-to-square"></i>
                    Edit
                </button>
                <button class="show-button !py-1 " (click)="changeStatus(STATE.CLOSE)" *ngIf="pr?.state === STATE.OPEN">
                    <i class="fa-regular fa-circle-check"></i>
                    Close
                </button>
                <button class="show-button !py-1 btn-merged" *ngIf="pr?.state === STATE.CLOSE">
                    <i class="icon fa-regular fa-circle-dot"></i>
                    Merged
                </button>
            </div>
            <div class="flex flex-row space-x-4">
                <div [style.background]="stateColor" class="state-tag rounded-2xl text-base text-white">
                    <i class="icon fa-regular fa-circle-dot" *ngIf="pr?.state == STATE.OPEN"></i>
                    <i class="icon fa-regular fa-circle-check" *ngIf="pr?.state == STATE.CLOSE"></i>
                    <i class="icon fa-solid fa-code-merge" *ngIf="pr?.state == STATE.MERGED"></i>
                    {{pr?.state | titlecase}}
                </div>
                <h4 class=" text-bold pb-2">{{pr?.description}}</h4><br>
                <h4 class=" text-bold pb-2"><span class="rounded"
                        style="background-color: #00ffc8;">{{pr?.origin}}</span> into
                    <span class="rounded" style="background-color: #00ffc8;">{{pr?.target}}</span>
                </h4>
            </div>
        </div>

        <div class="timeline">
            <div *ngFor="let event of events" class="flex flex-row event">
                <div class="date">{{ event.createdAt | date: 'dd.MM.yyyy.'}}</div>
                <div class="event-type">
                    <i class="icon fa-solid fa-tag fa-lg" *ngIf="event.type === PR_EVENT_TYPE.LABEL"></i>
                    <i class="icon fa-regular fa-flag" *ngIf="event.type === PR_EVENT_TYPE.MILESTONE"></i>
                    <i class="icon fa-regular fa-user" *ngIf="event.type === PR_EVENT_TYPE.ASSIGNEE"></i>
                    <i class="icon fa-solid fa-pen-to-square" *ngIf="event.type === PR_EVENT_TYPE.DESCRIPTION"></i>
                    <i class="icon fa-solid fa-pen-to-square" *ngIf="event.type === PR_EVENT_TYPE.NAME"></i>
                    <i class="icon fa-solid fa-comments" *ngIf="event.type === PR_EVENT_TYPE.COMMENT"></i>
                    <i class="icon fa-solid fa-rotate" *ngIf="event.type === PR_EVENT_TYPE.STATE"></i>
                    <i class="icon fa-solid fa-asterisk" *ngIf="event.type === PR_EVENT_TYPE.PR_REF"></i>
                    <i class="icon fa-solid fa-magnifying-glass" *ngIf="event.type === PR_EVENT_TYPE.PR_REVIEW "></i>
                    <i class="icon fa-solid fa-asterisk" *ngIf="event.type === PR_EVENT_TYPE.COMMIT_REF"></i>
                </div>
                <div class=" description w-90%">
                    <b>{{event.author.firstName}} {{event.author.lastName}}</b>
                    - set {{event.type }} to {{ event.value }}
                </div>
            </div>
        </div>

    </div>


    <!-- <div class="flex flex-col w-3/6 p-5 h-full" *ngIf="isEdit">
        <app-new-pr-form [pr]="pr" (updateIssueEvent)="closeEdit($event)"></app-new-pr-form>
    </div> -->

    <div class="flex flex-col w-2/6 p-5 ml-5">
        <app-pr-properties-side-view [prPropertiesInput]="prProperties" [prId]="pr?.id"
            (changeEvent)="handleIssuePropertiesChange($event)"></app-pr-properties-side-view>
    </div>
</div>