<div class="flex flex-row pt-3 space-x-4 ">
    <div class="search-bar">
        <form *ngIf="showSearch">
            <input class="p-2 rounded-md !text-[12px] text-black !focus-visible:outline-none" id="searchRepos"
                placeholder="Search..." />
            <button type="submit"
                class="!bg-green-600 rounded-lg  w-fit px-4 py-1 text-white hover:!bg-green-800 text-sm">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>

    <div class="button-group">
        <button *ngIf="activeTab === 1" class="show-button !py-1" (click)="showView(ISSUE_VIEW.ISSUES)" [ngStyle]="{
                'background-color': openView === ISSUE_VIEW.ISSUES ? '#3a87e1' : 'white', 
                'color': openView === ISSUE_VIEW.ISSUES ? 'white' : 'black'}">
            <i class="icon fa-regular fa-circle-dot"></i>
            Issues
        </button>
        <button *ngIf="activeTab === 2" class="show-button !py-1" (click)="showView(ISSUE_VIEW.PRS)" [ngStyle]="{
            'background-color': openView === ISSUE_VIEW.PRS ? '#3a87e1' : 'white', 
            'color': openView === ISSUE_VIEW.PRS ? 'white' : 'black'}">
            <i class="icon fa-solid fa-code-pull-request"></i>
            PRs
        </button>
        <button class="show-button !py-1 " (click)="showView(ISSUE_VIEW.LABELS)" [ngStyle]="{
                'background-color':openView === ISSUE_VIEW.LABELS ? '#3a87e1' : 'white', 
                'color': openView === ISSUE_VIEW.LABELS ? 'white' : 'black'}">
            <i class="fa-solid fa-tag"></i>
            Labels
        </button>

        <button class="show-button !py-1" (click)="showView(ISSUE_VIEW.MILESTONES)" [ngStyle]="{
                'background-color': openView === ISSUE_VIEW.MILESTONES ? '#3a87e1' : 'white', 
                'color': openView === ISSUE_VIEW.MILESTONES ? 'white' : 'black'}">
            <i class="fa-regular fa-flag"></i>
            Milestones
        </button>

        <span class="pl-5" *ngIf="canEdit">
            <button class="!bg-green-600 rounded-lg w-fit px-4 py-1 text-white hover:!bg-green-800 text-sm"
                (click)="handleAddNewClick()">
                Add New
            </button>
        </span>
    </div>
</div>