<div class="!pt-4 !w-[90%] mx-auto">
    <div class="flex flex-row py-3 mb-4">
        <div class="w-[90%] text-xl font-semibold">
            Branches
        </div>
        <div class="w-[10%]">
            <button class="!bg-green-600 rounded-lg w-fit px-4 py-1.5 text-white hover:!bg-green-800 font-semibold"
                (click)="addNewBranch()">
                New Branch
            </button>
        </div>
    </div>

    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
        style="border: 1px solid #d1d5da;">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"
                style="width: 50% !important;">
                Name
            </th>
            <td mat-cell *matCellDef="let element; let i = index;" style="width: 50% !important;">
                <button class="rounded-lg px-2 mx-auto bg-blue-100 text-blue-600 mr-2 clickable"
                    (click)="navigateToBranchCode(element.name)">{{element.name}}</button>
                <i class="fa-regular fa-clone cursor-pointer clickable" (click)="copyName(element.name, i)"
                    *ngIf="!copySuccess[i]"></i>
                <i *ngIf="copySuccess[i]" class="fa-solid fa-check text-green-600"></i>
            </td>
        </ng-container>

        <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by updatedAt">
                Updated
            </th>
            <td mat-cell *matCellDef="let element">
                <div>
                    {{element.updatedBy }}
                </div>
                <div class="text-xs">
                    {{element.updatedAt | date: 'dd.MM.yyyy. HH:mm'}}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="pull request">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pull request count">
                Pull request
            </th>
            <td mat-cell *matCellDef="let element" class="!clickable">
                <button class=" rounded-2xl px-2 py-1 mx-auto border " (click)="navigateToPr(element?.pr)"
                    *ngIf="element.pr">
                    <i class="fa-solid fa-code-pull-request text-purple-400"></i>
                    <span class="text-neutral-500 ml-2 text-xs ">#{{element.pr.count}}</span>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions" *ngIf="canEdit">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef=" let element">
                <button class="show-button " (click)="deleteBranch(element)" *ngIf="element.name !== 'master'">
                    <i class="fa-solid fa-trash"></i>
                    Delete
                </button>
                <button class="show-button" (click)="editBranch(element)" *ngIf="element.name !== 'master'">
                    <i class="fa-solid fa-pen-to-square"></i>
                    Edit
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"
            style="height: 50px; box-shadow: 1px 1px 20px #00000011;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>