.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.overlay-content {
    position: absolute;
    // top: 33%;
    // left: 8.5%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 20%;
    height: 50%;
    overflow-y: scroll;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.filter-row {
    padding-bottom: 7%;
    padding-top: 7%;
    margin-bottom: 10px;

    .input-filter {
        margin-left: 5px !important;
        margin-right: 5px !important;
        width: 200px;
        height: 30px;
        border-radius: 3px;
    }

    .search-button {
        padding: 1%;
        margin-left: 10%;
    }
}

.item-row {
    padding-top: 2%;
    padding-bottom: 2%;

    .icon {
        color: #B4B4BB;
    }
}

.item-row:hover {
    background-color: #f6f8fa;
    cursor: pointer;
}

.author-name {
    margin-left: 8px;
}

.author-name:hover {
    background-color: #f6f8fa;
    cursor: pointer;
}