<div class="overlay">
    <div class="overlay-content">
        <span class="close-btn" (click)="closeForm(null)">
            &times;
        </span>
        <div class="title-row">
            Input {{type}} for {{keyword}}
        </div>

        <form>
            <div class="item-row">
                <select [formControl]="signControl" *ngIf="type === 'number' || type==='date'">
                    <option *ngFor="let option of signs" [value]="option">{{ option }}</option>
                </select>
                <select [formControl]="signControl" *ngIf="type === 'string'">
                    <option value="=">=</option>
                    <option value="~">~</option>
                </select>
                <input [type]="type" [formControl]="activeControl" *ngIf="type === 'number' || type === 'string'" />


                <input class="p-2 rounded-md text-[16px] my-2 text-black focus-visible:outline-none" id="date"
                    [matDatepicker]="dp" type="text" readonly="true" [formControl]="activeControl"
                    placeholder="Enter date" *ngIf="type === 'date'" />
                <mat-datepicker-toggle class="calendar-icon" matIconSuffix [for]="dp"
                    *ngIf="type === 'date'"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>


            </div>
            <app-button [text]="'Add'" type="'button'" (buttonClick)="closeForm(activeControl.value)"
                [extenseClass]="'ml-12'"></app-button>

        </form>

    </div>
</div>