<div class="flex flex-row">

    <div class="button-group w-[84%]">
        <button class="show-button !py-1" (click)="changeBranch(null)">
            <i class="fa-solid fa-code-branch"></i>
            <span class="mx-2 font-semibold">
                {{selectedBranchName}}
            </span>
            <i class="fa-solid fa-caret-down"></i>
        </button>
        <app-branch-filter-overlay *ngIf="isBranchOptionOpen" (closeEvent)="changeBranch($event)"
            [preSelected]="selectedBranchName" [showCodeOptions]="showCodeOptions">
        </app-branch-filter-overlay>

        <button class="overview-button font-semibold !py-1 " (click)="navigateToBranches()">
            <i class="fa-solid fa-code-branch"></i>
            <span class="activity-count mx-1">{{branchCount}}</span>
            Branches
        </button>

    </div>

    <div class="button-group w-[16%]" *ngIf="showCodeOptions">

        <button class="!bg-green-600 rounded-lg w-fit px-4 py-1.5 text-white hover:!bg-green-800 font-semibold"
            (click)="openCodeOptions(true)">
            <i class="icon fa-solid fa-code"></i>
            <span class="mx-2">
                Code
            </span>
            <i class="fa-solid fa-caret-down"></i>
        </button>
        <app-clone-repo-overlay *ngIf="isCodeOptionOpen" (closeEvent)="openCodeOptions(false)">
        </app-clone-repo-overlay>
    </div>
</div>