<div class="flex flex-row w-full h-full bg-gray-800 items-center justify-center text-white">
    <div class="flex flex-col bg-gray-800 px-2 py-2 h-4/5 w-4/5">
        <h2 class="!text-lg text-bold pb-2">
            <span *ngIf="branch === null">Create new branch</span>
            <span *ngIf="branch !== null">Edit branch</span>
        </h2>
        <form (submit)="onSubmitClick()" [formGroup]="newBranchForm">
            <div class="flex flex-row">
                <div [class]="'flex flex-col w-full h-[13vh] pr-2'">
                    <span class=" text-[16px]">Name*</span>
                    <input class="p-2 rounded-md text-[16px] my-2 text-black focus-visible:outline-none" id="name"
                        type="text" formControlName="newBranchName" placeholder="Enter branch name" />
                </div>
            </div>

            <div class="flex flex-row" *ngIf="branch === null">
                <div [class]="'flex flex-col w-full pr-2'">
                    <span class="text-[16px] mb-4">
                        <i class="fa-solid fa-code-branch"></i>
                        Origin*
                    </span>
                    <mat-form-field [class]="'bg-transparent  !rounded'">
                        <mat-select class="!h-2" formControlName="originBranch">
                            @for (branch of repoBranches; track branch) {
                            <mat-option [value]=" branch.name">{{branch.name }} </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>


            <div class="button-container">
                <app-button [type]="'button'" [text]="'Cancel'"
                    [extenseClass]="'bg-red-500 hover:bg-red-800 disabled:hover:bg-red-600 '"
                    (buttonClick)="onCancelClick()"></app-button>
                <app-button [text]="'Confirm'" [disabled]="newBranchForm.invalid"
                    (buttonClick)="onSubmitClick()"></app-button>
            </div>
        </form>

    </div>
</div>