<div [class]="
    defaultClass !== ''
      ? defaultClass
      : 'flex flex-col w-full h-[13vh] ' + extenseClass
  ">
  <span class="text-[16px]">
    {{ label }}
  </span>
  <input [class]="'p-2 rounded-md text-[16px] my-2 text-black focus-visible:outline-none ' + inputClass" [id]="id"
    [required]="required" [placeholder]="placeholder" [formControl]="control" [type]="type" [readOnly]="readOnly" />
  <div *ngIf="invalid" class="w-full p-2 rounded bg-red-300">
    <span class="text-red-500">
      {{ errorMessage }}
    </span>
  </div>
</div>