<div
  class="flex flex-row w-full h-full bg-gray-950 items-center justify-center text-white"
>
  <div class="flex flex-col bg-gray-800 w-[30%] px-8 py-4 rounded-xl">
    <h2 class="!text-2xl !mb-[5vh]">Reset your password</h2>

    <app-input
      label="Email"
      id="email"
      [control]="email"
      placeholder="Enter your email"
      [required]="true"
      [invalid]="email.invalid && email.dirty"
      errorMessage="Invalid email"
      type="email"
    ></app-input>

    <a [routerLink]="'/login'" class="underline text-blue-500">
      You remembered your password? Log in here.
    </a>

    <app-button
      [text]="'Send email'"
      class="ml-auto"
      (buttonClick)="handleSendEmailButton()"
    ></app-button>
  </div>
</div>
