.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}

.arrow {
    margin-top: 5%;
}

select {
    background-color: white;
}

.input-update {
    background-color: rgb(206, 206, 206);
}