<h2 class="!text-lg text-bold pb-2">{{this.pr ? 'Update pull request #' + this.pr.counter : 'Create new pull request'}}</h2>
<form [formGroup]="newPRForm">

    <div class="flex flex-row" *ngIf="this.pr == null || this.pr == undefined">
        <div [class]="'flex flex-col w-full h-[13vh] pr-2'">
            <span class="text-[16px]">Target*</span>
            <select class="p-2 rounded-md text-[16px] my-2 text-black focus-visible:outline-none border" id="target"
                    formControlName="target">
                <option *ngFor="let branch of targetBranches" [value]="branch.name">{{ branch?.name }}</option>
            </select>
        </div>
        <i class="flex flex-col pr-2 fa-solid fa-arrow-left arrow"></i>
        <div [class]="'flex flex-col w-full h-[13vh] pr-2'">
            <span class="text-[16px]">Origin*</span>
            <select class="p-2 rounded-md text-[16px] my-2 text-black focus-visible:outline-none border" id="origin"
                    formControlName="origin">
                <option *ngFor="let branch of originBranches" [value]="branch.name">{{ branch?.name }}</option>
            </select>
        </div>
    </div>

    <!-- If update then it is not possible to change branches -->
    <div class="flex flex-row" *ngIf="this.pr">
        <div [class]="'flex flex-col w-full h-[13vh] pr-2'">
            <span class=" text-[16px]">Target</span>
            <input class="p-2 rounded-md text-[16px] my-2 text-black focus-visible:outline-none border input-update" id="target-update"
                type="text" formControlName="target" [readonly]="true"/>
        </div>
        <i class="flex flex-col pr-2 fa-solid fa-arrow-left arrow"></i>
        <div [class]="'flex flex-col w-full h-[13vh] pr-2'">
            <span class=" text-[16px]">Origin</span>
            <input class="p-2 rounded-md text-[16px] my-2 text-black focus-visible:outline-none border input-update" id="origin-update"
                type="text" formControlName="origin" [readonly]="true"/>
        </div>
    </div>

    <div class="flex flex-row">
        <div [class]="'flex flex-col w-full h-[13vh] pr-2'">
            <span class=" text-[16px]">Name*</span>
            <input class="p-2 rounded-md text-[16px] my-2 text-black focus-visible:outline-none border" id="name"
                type="text" formControlName="name" placeholder="Enter pull request name" />
        </div>
    </div>

    <div class="flex flex-row">
        <div [class]=" 'flex flex-col w-full max-h-full' ">
            <span class=" text-[16px]">Description</span>
            <textarea class="p-2 rounded-md text-[16px] my-2 text-black focus-visible:outline-none border !resize-y "
                id="description" formControlName="description" placeholder="Enter pull request description"
                rows="4"> </textarea>
        </div>
    </div>


    <div class="button-container">
        <app-button [type]="'button'" [text]="'Cancel'"
            [extenseClass]="'bg-red-500 hover:bg-red-800 disabled:hover:bg-red-600 '"
            (buttonClick)="onCancelClick()"></app-button>
        <app-button [text]="'Confirm'" [disabled]="newPRForm.invalid" (buttonClick)="onSubmitClick()"></app-button>
    </div>
</form>