<mat-drawer-container class="sidebar-container" hasBackdrop="true">
  <mat-drawer #drawer mode="over" class="drawer">
    <app-sidebar></app-sidebar>
  </mat-drawer>

  <mat-drawer-content>
    <app-navbar [drawer]="drawer"></app-navbar>

    <div class="mx-auto h-[80%] w-[50%] flex flex-col items-start my-10 rounded-l gap-y-4 px-20 py-10 bg-gray-200">
      <div class="mx-auto mb-5 flex flex-row text-xl font-semibold">
        Profile
      </div>

      <div class="w-full h-full">
        <app-input [label]="'First name'" [id]="'userFirstName'" [control]="userFirstNameControl"
          [placeholder]="'First name'" [required]="true"
          [invalid]="userFirstNameControl.invalid && userFirstNameControl.dirty"
          [errorMessage]="'First name is required'" [type]="'text'" defaultClass="flex items-center gap-x-10"
          [inputClass]="'w-[70%]'" [readOnly]="isReadonly"></app-input>

        <app-input [label]="'Last name'" [id]="'userLastName'" [control]="userLastNameControl"
          [placeholder]="'Last name'" [required]="true"
          [invalid]="userLastNameControl.invalid && userLastNameControl.dirty" [errorMessage]="'Last name is required'"
          [type]="'text'" defaultClass="flex items-center gap-x-10" [inputClass]="'w-[70%]'"
          [readOnly]="isReadonly"></app-input>

        <app-input [label]="'Email address'" [id]="'userEmail'" [control]="userEmailControl"
          [placeholder]="'Email address'" [required]="true"
          [invalid]="userEmailControl.invalid && userEmailControl.dirty" [errorMessage]="'Email address is required'"
          [type]="'text'" defaultClass="flex items-center gap-x-4" [inputClass]="'w-[70%]'"
          [readOnly]="isReadonly"></app-input>

        <app-input [label]="'Username'" [id]="'userUsername'" [control]="userUsernameControl" [placeholder]="'Username'"
          [required]="true" [invalid]="userUsernameControl.invalid && userUsernameControl.dirty"
          [errorMessage]="'Username is required'" [type]="'text'" defaultClass="flex items-center gap-x-10"
          [inputClass]="'w-[70%]'" [readOnly]="isReadonly"></app-input>


        <div class="w-fit mx-auto mt-4" *ngIf="!isReadonly">
          <app-button text="Save" (buttonClick)="handleSave()" extenseClass="w-[150px]" />
        </div>

      </div>


      <div class="w-fit mx-auto flex flex-row gap-x-20">
        <button (click)="openUpdatePasswordDialog()" *ngIf="!isReadonly"
          class="text-white rounded-xl text-[16px] w-[180px] px-4 py-2 !bg-blue-500 !hover:bg-blue-800">
          Update password
          <i class="fa-solid fa-key"></i>
        </button>

        <button (click)="deleteAccountPrompt()" *ngIf="!isReadonly"
          class="text-white rounded-xl text-[16px] w-[180px] px-4 py-2 !bg-red-500 !hover:bg-red-800 ">
          Delete Account
          <i class="icon fa-solid fa-trash fa-lg"></i>
        </button>
      </div>



    </div>
  </mat-drawer-content>
</mat-drawer-container>