<app-repo-activities-button-group [repo]="repo"></app-repo-activities-button-group>

<div class="flex flex-row">
    <div class="flex flex-col w-1/12"></div>
    <div class="flex flex-col w-8/12">
        <div class="pt-3">
            <app-branch-button-group [showCodeOptions]="true"
                (changeBranchEvent)="changeBranch($event)"></app-branch-button-group>
        </div>
        <div class="pt-6 " *ngIf="!showFileContent">
            <div class="flex flex-row justify-end mr-12">
                <button class="show-button !py-1" (click)="navigateToCommitHistory(null)">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <span class="mx-2 font-semibold">
                        History
                    </span>
                </button>
            </div>

            <app-folder-table-overview [files]="files"></app-folder-table-overview>
        </div>

        <div *ngIf="showFileContent" class=" !mt-6 !mr-6 !pr-6">
            <div class="flex flex-row justify-between">
                <div class="font-semibold mb-2">
                    <i class="fa-regular fa-file fa-lg"></i>
                    {{files.length > 0 ? files[0].name : ''}}
                </div>

                <button class="show-button !py-1" (click)="navigateToCommitHistory(files[0])">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <span class="mx-2 font-semibold">
                        History
                    </span>
                </button>
            </div>

            <div class="bg-gray-700 text-white h-full">
                <div *ngFor=" let line of files[0]?.content?.split('\n'); let i=index">
                    <pre>{{ i+1 }}.  {{ line }}</pre>
                </div>
            </div>

        </div>

    </div>
    <div class="flex flex-col w-3/12">
        <app-repo-about-side-view [repo]="repo"></app-repo-about-side-view>
    </div>

</div>