.logo {
    display: flex;
    border-bottom: 1px solid #d0d7de;

    .logo-title {
        font-size: 25px;
        color: #c9cbcf;
        margin: 30px 10px;
    }
}

.logo-icon {
    width: 70%;
    height: 85%;
}