<div
  class="flex flex-row w-full h-full bg-gray-950 items-center justify-center text-white"
>
  <div class="flex flex-col bg-gray-800 w-[30%] px-8 py-4 rounded-xl">
    <h2 class="!text-2xl !mb-[5vh]">Welcome to GitHub</h2>

    <app-input
      *ngFor="let formConfig of signUpForm"
      [label]="formConfig.label"
      [id]="formConfig.id"
      [control]="formConfig.control"
      [placeholder]="formConfig.placeholder"
      [required]="formConfig.required"
      [invalid]="formConfig.control.invalid && formConfig.control.dirty"
      [errorMessage]="formConfig.errorMessage"
      [type]="formConfig.type"
    ></app-input>

    <a [routerLink]="'/login'" class="underline text-blue-500">
      Already a member? Log in here.
    </a>

    <app-button
      text="Sign up"
      class="ml-auto"
      (buttonClick)="handeSignUpButtonClick()"
      [disabled]="
        !signUpFormValidity.valid ||
        signUpForm[3].control.value !== signUpForm[4].control.value
      "
    ></app-button>
  </div>
</div>
